extends layout

block content
  //h1= title
  p  #{title}

  body
    h3 Отопления
    div#h
      img(src='/images/hot.jpg', alt='hot', style='width:100px;height:100px;')
      output#tempOfHot

    h3 В помещении
    div#r
      img(src='/images/dom.png', alt='dom', style='width:100px;height:100px;')
      output#tempOfRoom
  


      


